
body{
    background: #282727;
    margin: 0;
}

.container{
position: relative;
width: 1900px;
height: 1080px;
background: gray;
background-image: url(../images/back.png);
/*left: 50%;
transform: matrix(1, 0, 0, 1, -720, 0);*/
background-size: 1900px 1080px;
margin: 0 auto;
user-select: none;

}
.logo{
    position: absolute;
    z-index: 11;
    left: 20px;
    top: 20px;
}
  
.navButtons{

        position: relative;
        top: 724px;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        z-index: 10;

}
.effects{
    position: relative;
    z-index: 10;
    pointer-events: none;
}
.effects img{
    width: 1900px;
    height: 1080px;
    position: absolute;
    
}
.con{
    display: flex;
    justify-content: center;
}

.lampara1{
    left: 287px;
}
.lampara2{
    left: 780px;
}
.lampara3{
    left: 1257px;
}
.luz1{
    top: 261px;
    left: 16px;

}
.luz2{
    top: 261px;
    left: 513px;
}
.luz3{
    top: 259px;
    left: 990px;
}
.overlay{
    mix-blend-mode: overlay;
}
#tv {
    top: 272px;
    left: 1020px;
    pointer-events: none;
}
canvas#reloj {
    top: 185px;
    left: 900px;
}
canvas#libro {
    left: 828px;
    top: 451px;

}
canvas#guante {
    top: 306px;
    left: 1641px;

}
canvas#espejo {
    left: 1271px;
    bottom: 202px;
}
canvas#telescopio {

    top: 404px;
    left: 236px;

}
canvas#acuario {

    top: 301px;
    left: 436px;


}
canvas#storytime {
    left: 923px;
    top: 510px;
}
canvas#lupa {
    top: 578px;
    left: 810px;
}
canvas#gogreen {
    top: 481px;
    left: -71px;
}
canvas#global {
    top: 447px;
    left: 120px;
}

canvas#sillon {
    left: 1042px;
    top: 484px;

}
canvas#ventana {
    right: 963px;
    top: 213px;
    z-index: -1;

}

canvas#interruptor {
    right: 8px;
    top: 480px;
    z-index: 0;

}
canvas#diploma {
    left: 1607px;
    top: 394px;

}
canvas#estatua {
    left: 1183px;
    top: 342px;
}
canvas#letras {
    left: 1601px;
    top: 615px;
 }
#revistero {
    left: 659px;
    top: 617px;
    z-index: 1;
 }

.absolute{
    position: absolute;
}
.pointer{
    cursor: pointer;
}
.scale{
    transform: scale(0.65);
}


.foot{
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 1;
    text-align: center;


    bottom: 0;
    margin: 0 auto;
    width: 98%;
    padding-top: 20px;
}


